<h1>Projeto Angular</h1>
<hr>
<div class="row">
    <div class="col-6">
        <h3>Exemplo 01 - Binding Unidirecional</h3>
        <span>Número aleatório</span><br>
        <span>Forma 1: {{ rnd }}</span><br>
        <span>Forma 2: </span><input type="text" [value]="rnd" />

        <hr />

        <h3>Exemplo 03 - Binding Unidirecional + filtros</h3>
        <span>Pesquisar: </span>
        <input type="text" #texto (keyup)="filtrar(texto.value)" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let f of funcionarios">
                    <td>{{ f.nome }}</td>
                    <td>{{ f.idade }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="col-6">
        <h3>Exemplo 02 - Diretiva ngFor</h3>
        <select #lista (change)="mostrar(lista.value)">
            <option value="">SELECIONE</option>
            <option *ngFor="let f of funcionarios">{{ f.nome }}</option>
        </select>
        <div *ngIf="nomeFuncionario; else blocoElse">Nome selecionado: {{ nomeFuncionario }}</div>
        <ng-template #blocoElse>
            <div>Nenhum nome selecionado</div>
        </ng-template>

        <hr />

        <h3>Exemplo 04 - Binding Bidirecional</h3>
        <span>Informe o salário: </span>
        <input type="text" [(ngModel)]="salario.valor" /><br/>
        <span>Valor do imposto: {{ salario.calcular() }}</span>

        <br/><br/><br/>

        <span>Informe o salário: </span>
        <input type="text" [(ngModel)]="salario.valor" /><br/>
        <button (click)="efetuarCalculo()">Calcular imposto</button><br />
        <span>Valor do imposto: {{ imposto }}</span>
    </div>
    
</div>